.checkout-page {
  height: 100vh;
  background: #eff0f5;
  overflow: hidden;

  label {
    color: #3a3e5f;
    line-height: normal;
  }
}
.checkout-nav-section {
  height: 90px;
  padding-block: 22px;
  border-bottom: 2px solid #bfc2d9;
  background: #eff0f5;
  box-shadow: 0px 10px 20px 0px rgba(78, 84, 126, 0.03);
}
.checkout-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 45px;
    width: auto;
  }

  .close-btn {
    color: #1a1c2b;
    opacity: 0.3;
    font-size: 26px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.checkout-content-section {
  padding-block: 30px;
  height: calc(100vh - 90px);
  overflow-y: auto;

  .heading {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: #8086b2;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h3 {
      color: #4d537f;
      font-family: Poppins-Medium;
      font-size: 32px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 0;
    }
  }
}

.step-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 67px;
}

.checkout-box {
  border-radius: 4px;
  border: 1px solid #eff0f5;
  background: #f5f5f5;
  box-shadow: -2px 6px 16px 0px rgba(0, 0, 0, 0.08);
}

.step-content-section {
  flex: 1;
  max-width: 100%;
}

.order-summary {
  flex: 1;
  padding: 20px 30px;
  max-width: 100%;

  h3 {
    color: #6b6b6b;
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    padding-block-end: 25px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 30px;
  }

  .btn-link {
    color: #3c7df6;
    line-height: normal;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 10px;
  }
}

.total-price-table {
  margin-bottom: 14px;
}
.total-price-item {
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #eff0f5;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }

  p {
    color: #6b6b6b;
    font-size: 20px;
    line-height: 200%;
    margin-bottom: 0;
  }

  .price {
    color: #282828;
    line-height: normal;
  }

  &.final-total {
    background-color: #cedffd;
    color: #282828;
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    p {
      color: #282828;
      font-family: Roboto-Medium;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &.discount {
    .price {
      color: red;
    }

    .custom-badge {
      padding-block: 7px;
      &::before {
        display: none;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.cart-items {
  padding-inline: 10px;
}

.cart-item {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 0.7px solid #a0a4c5;
  background: #f5f5f5;
  overflow-x: auto;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    height: 75px;
  }

  .order-id {
    color: #6b6b6b;
    font-family: Roboto-Medium;
    font-weight: 500;
  }

  .item-column {
    min-width: 140px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    line-height: normal;
    color: #1a1c2b;
    opacity: 0.2;
    &:hover {
      opacity: 0.5;
    }
  }
}

.form-control.input-solid {
  height: 48px;
  padding: 15px 16px;
  border-radius: 8px;
  background: #dfe1ec;
  color: #282828;
  line-height: normal;
  border-color: #dfe1ec;
}

.coupon-box {
  display: flex;
  align-items: center;
  gap: 8px;

  .btn-primary {
    display: flex;
    padding: 11px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
}

.address-step {
  padding: 30px;
}

.input-group-solid {
  .form-control {
    border-radius: 8px;
    background: #dfe1ec;
    color: #282828;
    font-size: 16px;
    line-height: 200%;
    height: 48px;
    padding: 15px 16px;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    background-color: #dfe1ec;
    color: #8086b2;
    border: none;
    border-radius: 8px;
  }
}

.btn-sm {
  height: 38px;
  padding: 11px 14px;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.next-btn {
  width: 255px;
  max-width: 100%;
}

.checkout-page {
  &.payment {
    .order-summary {
      flex: 0 0 444px;
    }
  }
}

.payment-step {
  padding: 30px;

  label {
    color: #3a3e5f;
    font-family: Roboto-Medium;
    font-weight: 500;
    line-height: normal;
  }
  .draggable-field {
    width: max-content;
  }
}
.payment-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4px;
}
.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 100px;
  padding: 8px;
  background-color: #dfe1ec;
  cursor: pointer;

  &.active {
    background-color: #f5f5f5;
  }

  img {
    height: 50px;
  }
  p {
    text-align: center;
    color: #6b6b6b;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
  }
}

.bank-account-details {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bfc2d9;
  max-width: 100%;

  p,
  b {
    color: #6b6b6b;
    font-family: Roboto-Medium;
    font-weight: 500;
    line-height: 175%;
    margin-bottom: 0;
  }
  b {
    color: #282828;
  }
}

.complete-step,
.failed-step {
  padding: 60px 30px;
  width: 440px;
  max-width: 100%;
  margin-inline: auto;
  border-radius: 30px;
  text-align: center;

  .btn-primary {
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 14px;
  }

  h4 {
    color: #1a1c2b;
    font-family: Poppins-Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
  }

  .price {
    color: #056105;
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
  }
  .description {
    color: #6b6b6b;
    line-height: 28px;
    margin-block: 30px;
  }
}

.btn-outline-primary {
  outline: 3px solid #00ad00;
  background-color: #fff;
  color: #030;

  &:hover {
    background-color: #00ad00;
  }
}

.failed-step {
  h4 {
    margin-bottom: 30px;
  }
}
