.header__btn__profile {
  img {
    min-width: 32px;
  }
}
textarea {
  resize: none;
}
.dashboard {
  background-image: url('../img/bg/dashboard-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh;
  width: 100vw;
  padding-bottom: 20px;
  overflow: hidden;
  .header__transparent {
    position: relative;
  }
  header {
    background: none;
  }
  .search__box {
    width: 100%;
  }
  .header__padding {
    padding-top: 30px;
  }
  .hero__content {
    padding-top: 0px;
  }
  .hero__area {
    height: auto;
    padding-block: 30px 60px;
  }
  .hero__thumb-big img {
    height: 218px;
  }
  .hero__title {
    color: #e1e2ec;
    font-family: Poppins-Medium;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
  }
  .hero__description {
    color: #e1e2ec;
    font-family: Roboto-Regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .dashboard__title__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.44%;
  }
  .see__more__product {
    a {
      color: #eff0f5;
      font-family: Roboto-Regular;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      i {
        padding-left: 8px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
.product__wrap {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;

  .product__card {
    width: 250px;
    border-radius: 16px;
    background: #262940;
    padding: 21px 22px;
    text-align: center;
    position: relative;
    img {
      height: 133px;
      margin-bottom: 16px;
    }
    h4 {
      color: $primary;
      font-family: Roboto-Regular;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 12px;
    }
    p {
      width: 200px;
      color: #eff0f5;
      font-family: Roboto-Regular;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }
    .wishlist-btn {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 2px solid #4d537f;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      .wishlist__icon {
        background: url('../img/icon/wishlist-inactive.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 16px;
        width: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .active {
      .wishlist__icon {
        background: url('../img/icon/wishlist-active.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 16px;
        width: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .btn-primary {
      width: 180px;
      color: #f5f5f5;
      font-family: Roboto-Medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 11px 14px;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  border-radius: 0px 8px 8px 0px;
  background: #e1e2ec;
  box-shadow: 2px 7px 15px 0px rgba(78, 84, 126, 0.1);
  z-index: 100;
  transition: width 0.5s ease;
}
.sidebar.close {
  width: 90px;
}
.sidebar .logo-details {
  padding: 35px 30px 70px 20px;
}
.sidebar .logo_icon {
  margin-right: 30px;
  transition: 0.3s;
  position: absolute;
  left: 30px;
}
.sidebar.close .logo_icon {
  position: relative;
  top: 40px;
  transition: 0.3s;
  left: 0px;
}
.sidebar.close .icon_bar {
  display: block;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  left: 20px;
}
.icon_bar {
  display: none;
  transition: 0.3s;
}
.sidebar__btn i {
  height: 22px;
  width: 22px;
  line-height: 22px;
  background-color: #8086b2;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 20px;
  transition: 0.3s;
}
.close .sidebar__btn i {
  opacity: 0;
  transition: 0.3s;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  position: absolute;
  left: 80px;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding-bottom: 100px;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  margin-bottom: 0.5px;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .icon-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0px 30px 30px 0px;
  border-left: 5px solid transparent;
}
.sidebar .nav-links li a .link_name {
  color: #1a1c2b;
  font-family: Roboto-Regular;
  font-size: 1.075rem;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  transition: all 0.4s ease;
  padding: 10px 0px;
}
.sidebar .nav-links li a:hover {
  border-radius: 0px 30px 30px 0px;
  border-left: 5px solid #4d537f;
  background: #b8bbd1;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li a.active-menu {
  border-radius: 0px 30px 30px 0px;
  border-left: 5px solid #4d537f !important;
  background: #a0a4c5;
}
.sidebar .nav-links li img {
  width: 20px;
  margin: 0 30px;
}
.sidebar.close .nav-links li img {
  margin: 0;
  height: 18px;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  left: 280px;
  width: calc(100% - 280px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 100px;
  width: calc(100% - 100px);
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

.form-check-input {
  min-width: 1rem;
  min-height: 1rem;
}

.mySlides {
  margin-bottom: 30px;
  img {
    height: 300px;
    width: 300px;
    border-radius: 8px;
  }
}
.thumbnails {
  display: flex;
  gap: 20px;
}
.img-thumb {
  max-width: 50px;
  height: 50px;
}
.gallery img {
  -webkit-animation: animatezoom 600ms;
  animation: animatezoom 600ms;
}
@keyframes animatezoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animatezoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// new dashboard
.ds-block{
  height: calc(100vh - 120px);
  padding-bottom: 20px;
  overflow-y: scroll;
}

.block {
  padding-inline: 15px;
  transition: padding-inline 0.5s ease;
}
.main-content {
  position: relative;
  left: 90px;
  width: calc(100% - 90px);
  transition: left 0.5s ease, width 0.5s ease;
  height: 100vh;
  overflow-y: hidden;
  background: #eff0f5;
}

.content-body {
  padding-top: 37px;
}

.main-heading {
  color: #282828;
  font-family: 'Poppins-Medium';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  &.border-bottom {
    border-color: #c4c4c4 !important;
  }
}

.secondary-heading {
  color: #6b6b6b;
  font-family: 'Poppins-Medium';
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.no-style-btn {
  background-color: transparent;
}

.form-check-input[type='checkbox'] {
  height: 22px;
  width: 22px;
  min-width: 22px;
  min-height: 22px;
  border-radius: 6px;
  border: 2.7px solid #8086b2;
  &:checked {
    background-color: transparent;
    border-color: #8086b2;
    background-image: url('../img/icon/check-solid.svg') !important;
  }
}

.dropdown-menu {
  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #6b6b6b;
    font-family: Poppins-Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    padding-block: 8px;
    min-width: 188px;
    &:hover {
      background-color: #dfdfec;
    }
  }

  &.header-notification {
    width: 350px;
    max-width: 350px;
    .dropdown-item {
      gap: 16px;
      white-space: normal;
      font-family: 'Roboto-Regular';
      line-height: 28px;

      .logo {
        height: 35px;
        width: 35px;
      }
    }
  }

  border: none;
  padding: 8px 0px;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
}

.pointer {
  cursor: pointer;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.max-w-full {
  max-width: 100%;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-28 {
  margin-top: 28px;
}

.dynamic-height {
  overflow-y: auto;
  padding-bottom: 37px;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a4c5;
  border-radius: 6px;
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.rounded-full {
  border-radius: 35px;
}

.sidebar.close {
  .logo-details {
    padding: 35px 30px 70px 30px;
  }
  .icon_bar {
    left: 30px;
  }
}

.btn-lg {
  padding: 14px;
  font-family: Roboto-Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
