.forget__password{
    padding: 60px 0px;
    width: 440px;
    padding: 60px 30px;
    display: table;
    margin: auto;
    h3{
        color: #1A1C2B;
        font-family: Poppins-Medium;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 8px;
    }
    .form-box{
        color: red($color: #000000);
        
    }
    
}