.setting-tab {
  .nav-pills {
    border-radius: 4px;
    border: 1px solid #eff0f5;
    background: #f5f5f5;
    box-shadow: -2px 6px 16px 0px rgba(0, 0, 0, 0.08);
  }

  .nav-link {
    display: flex;
    width: 328px;
    padding: 30px 16px 30px 25px;
    align-items: center;
    gap: 30px;
    color: #4d537f;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #c4c4c4;
    background: #f5f5f5;
    border-left: 5px solid #bfc2d9;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom: none;
    }
    img,
    svg {
      height: 24px;
      width: 24px;
      fill: #4d537f;
    }

    &.active {
      color: #282828;
      background: #eff0f5;
      border-left-color: #00ad00;

      svg {
        fill: #282828;
      }
    }
  }

  .tab-content {
    flex: 1;
  }

  .tab-pane {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #eff0f5;
    background: #f5f5f5;
    box-shadow: -2px 6px 16px 0px rgba(0, 0, 0, 0.08);
    min-width: 513px;
    max-width: 513px;
  }

  input.form-control {
    border-radius: 8px;
    background: #dfe1ec;
    color: #282828;
    font-size: 16px;
    line-height: 200%;
    height: 48px;
    padding: 15px 16px;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    background-color: #dfe1ec;
    color: #8086b2;
    border: none;
    border-radius: 8px;
  }

  .tab-btns {
    display: flex;
    align-items: center;
    gap: 15px;

    .btn-primary {
      padding: 11px 14px;
      font-family: 'Roboto-Medium';
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      width: 50%;

      &.outline {
        background: #fff;
        border: 3px solid #00ad00;
        color: #030;

        &:focus {
          background-color: #fff !important;
        }
      }
    }
  }
}

.light-mode.multi-select-wrap .multi-select-box-holder .multi-select-box .checkbox-item input:checked + label {
  background-color: #bfc2d9 !important;
}
.light-mode.multi-select-wrap .multi-select-box-holder .multi-select-box .checkbox-item label .checkbox-text {
  color: #6b6b6b;
}

.helping-text {
  color: #6b6b6b;
  font-size: 14px;
  line-height: normal;

  .error {
    color: #c20a0a;
  }

  .success {
    color: #089108;
    font-family: Roboto-Medium;
    font-weight: 500;
  }
}

.with-save-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  .input-group {
    background: #dfe1ec;
    border-radius: 8px;
  }

  .form-control {
    border-radius: 8px !important;
  }

  .btn-primary {
    padding: 11px 14px;
    height: 38px;
    font-family: Roboto-Medium;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
  }
}

.light-mode {
  .multi-select-head {
    padding: 8px 16px;
    border-radius: 8px;
    background: #dfe1ec;
    border: none;

    .multi-select-title {
      color: #4d537f;
      font-size: 16px;
      font-weight: 400;
      line-height: 200%;
    }
  }
  .multi-select-box {
    border-radius: 8px !important;
    background: #f5f5f5 !important;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
    .checkbox-item {
      border: none !important;
      label:hover {
        background-color: #bfc2d9 !important;
      }
    }
  }
}

#profile-tab {
  label {
    color: #6b6b6b;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .profile-avatar {
    display: flex;
    align-items: center;
    gap: 30px;
    img {
      height: 70px;
      width: 70px;
      cursor: pointer;
    }
    label {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  .profile-picture {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.draggable-field {
  display: flex;
  padding: 25px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border: 2px dashed #a0a4c5;
  background: #eff0f5;
  height: 124px;
  width: 127px;
  cursor: pointer;

  img,
  i {
    height: 29px;
    width: 29px;
    font-size: 29px;
  }

  p {
    color: #6b6b6b;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
  }
}

#shipping-address-tab {
  h4 {
    color: #6b6b6b;
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }
  label {
    color: #3a3e5f;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
}

.address-field {
  padding: 15px;
  border-radius: 8px;
  background: #dfe1ec;

  .form-control {
    border: none;
    color: #262940;
    font-family: Poppins-Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    padding: 0 15px;
    background-color: #eff0f5;
    border-radius: 8px;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    border: none;
    background-color: #eff0f5;
    display: inline-flex;
    align-items: flex-start;
  }
}

.billing-address {
  display: flex;
  align-items: center;
  gap: 30px;
  .billing-address-field {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
