:root {
  --tab-left: 0;
  --tab-item-width: 0;
}

.tab-section-wrapper {
  padding-top: 6px;
  position: relative;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.8px solid #c4c4c4;
  height: max-content;
  flex-wrap: wrap;
}

.tab-section {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 60px;

  &::after {
    content: '';
    position: absolute;
    top: calc(100% - 2.5px);
    left: var(--tab-left);
    width: var(--tab-item-width);
    height: 5px;
    flex-shrink: 0;
    background-color: #00ad00;
    transition: all 0.3s ease-in-out;
  }

  .tab-item {
    color: #1a1c2b;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.tab-section-wrapper {
  .multi-select-wrap {
    width: 240px;
    height: 48px;
    margin-bottom: 15px;
  }
}
